.nav{
    background-color: #252525;
    width: 100%;
    height: 40px;
    
}

.nav .logIn{
    float: right;
    margin-right: 178px;
    margin-top:10px;
    margin-bottom: 13pxy;
  }
  .nav .socialMedia{
    margin-left: 160px;;
    margin-top: 8px;
    margin-bottom: 7px;;
    float:left;
  }
  .nav .socialMedia img{ 
    margin: 5px;
  }
  .nav a {
    color: #d5d5d5;
    font-size: 17px;
  }
  .nav p{
    color: gray;
    display: inline;
  }
  