.nav{
    background-color: #252525;
    display: inline;
}

.nav .logIn{
    float: right;
    display: inline;
  }
  .nav .socialMedia{
    float:left;
  }
  .nav a {
    color: #d5d5d5;
    font-size: 17px;
  }
  .nav p{
    color: gray;
  }
  