.topnav .menu{
  float: right;
  padding-right: 100px;
}
.topnav .logo{
  float:left;
  padding-left: 100px;
}
.topnav a {
  color: #d5d5d5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav h3{
  color: #aa97e4;
  
}
.topnav a:hover {
  background-color: #FFFFFF;
  color: black;
}

.topnav a:focus {
  color: #aa97e4;
  font-weight: bold;
}
.topnav input[type=text] {
  background: url(../images/search.png) no-repeat scroll 7px 7px;
  background-position: 95% center;
  width: 400px;
  padding: 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
