.item{
    width:837px;
    height: 160;
    margin-left: 78px;
    padding-top:133px;
    display: flex;
}

.detail h1{
    font-family: Lato-Regular;
    font-size: 46px;
    color: #252525;
    letter-spacing: 1.61px;
}

.detail h2{
    font-family: Lato-Regular;
    font-size: 24px;
    color: #8367D8;
    letter-spacing: 0.84px;
}

.detail h3{
    font-family: Lato-Regular;
    font-size: 16px;
    color: #252525;
    letter-spacing: 0.56px;
    line-height: 22px
}

.item img{
    width: 484px;
    height: 190px;
}

.item .detail{
    width:323px;
}

#bidButton{
    background: #FFFFFF;
    border: 3px solid #8367D8;
    box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
    font-family: Lato-Bold;
    font-size: 18px;
    color: #252525;
    letter-spacing: 0.63px;
    width: 192px;
    height: 35px;
}