.topnav{
  width: 100%;
  height:80px ;
  display: flex;
}
.topnav .menu{
  float: right;
  padding-right: 178px;
}
.topnav .logo{
  display: flex;
  margin-top: 23px;
  margin-left: 164px;
  margin-right: 131px;
}
.logo img{
  width:30px;
  height: 30px;
}
.topnav a {
  text-align: center;
  margin-left:45px;
  font-family: Lato-Light;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  text-decoration: none;
}
.topnav h3{
  font-family: Lato-Light;
  font-size: 24px;
  color: #8367D8;
  letter-spacing: 0.84px;
  margin:0px;
  
}
.topnav a:hover {
  background-color: #FFFFFF;
  color: black;
}

.topnav a:focus {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #8367D8;
  letter-spacing: 0.56px;
}
.topnav input[type=text] {
  background: url(../images/search.png) no-repeat scroll 7px 7px;
  background-position: 95% center;
  width: 513px;
  padding: 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


